
<div style="width:980px; margin-left:auto; margin-right:auto; margin-top:5%;">
    <div style="text-align:left; "><h1>Course Survey</h1></div>
<form method="" action="">
    <p style="position: relative">Please read each statement carefully and consider each one individually. Click on the buttons to make your choice.<br>You can choose <b>one answer</b> only for each question.</p>
    <h4><b>Course Name/Code: </b><input name="Text1" type="text" size="30" tabindex="1"/></h4>
    <b>Semester: </b> <input name="Semester" type="radio" value="Winter" tabindex="3" /> Winter&nbsp;&nbsp;
        <input name="Semester" type="radio" tabindex="5" value="Spring/Summer" /> Spring/Summer&nbsp;&nbsp;&nbsp;
        <input name="Semester" type="radio" tabindex="7" value="Fall" /> Fall&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>Year: <input name="Text1" type="text" size="4" tabindex="9" /></b>
    <h4>Instructor: <input name="Text1" type="text" size="30" tabindex="11" /></h4>
        <p>&nbsp;</p>
    
    <h3 class="auto-style2" style="background-color:lightgray;"><strong>Course Rating</strong></h3>
    <p>How would you rate <strong>course material</strong>?</p>
    <input name="Course material" type="radio" tabindex="53" value="Excellent" /> Excellent&nbsp;&nbsp;&nbsp;
        <input name="Course material" type="radio" tabindex="55" value="Good" /> Good&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="Course material" type="radio" tabindex="57" value="Fair" /> Fair&nbsp;&nbsp;&nbsp;
        <input name="Course material" type="radio" tabindex="59" value="Not Satisfactory" /> Not Satisfactory
    <p>How much did this course meet your<strong> expectations</strong>?</p>
    <input name="Expectation" type="radio" tabindex="61" value="Excellent" /> Excellent&nbsp;&nbsp;&nbsp;
        <input name="Expectation" type="radio" tabindex="63" value="Good" /> Good&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="Expectation" type="radio" tabindex="65" value="Fair" /> Fair&nbsp;&nbsp;&nbsp;
        <input name="Expectation" type="radio" tabindex="67" value="Not Satisfactory" /> Not Satisfactory
    <p>How would you rate this course (<strong>overall</strong>)?</p>
    <input name="Overall" type="radio" tabindex="69" value="Excellent" /> Excellent&nbsp;&nbsp;&nbsp;
        <input name="Overall" type="radio" tabindex="71" value="Good" /> Good&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="Overall" type="radio" tabindex="73" value="Fair" /> Fair&nbsp;&nbsp;&nbsp;
        <input name="Overall" type="radio" tabindex="75" value="Not Satisfactory" /> Not Satisfactory
    <br><br>
    <h3 class="auto-style2" style="background-color:lightgray;"><strong>General Information</strong></h3>
    <p>Was the <b>course outline</b> reviewed/explained at the beginning of your course?</p>
    <input name="outline" type="radio" tabindex="77" value="Yes" /> Yes&nbsp;&nbsp;&nbsp;
    <input name="outline" type="radio" tabindex="79" value="No" /> No&nbsp;&nbsp;&nbsp;
    <input name="outline" type="radio" tabindex="81" value="Not Sure" /> Not Sure
    <p>Would you <b>recommend</b> this course to a friend with the same interest?</p>
    <input name="recommend" type="radio" tabindex="83" value="Yes" /> Yes&nbsp;&nbsp;&nbsp;
    <input name="recommend" type="radio" tabindex="85" value="No" /> No&nbsp;&nbsp;&nbsp;
    <input name="recommend" type="radio" tabindex="87" value="Not Sure" /> Not Sure
    <br><br>
    <h3 class="auto-style2" style="background-color:lightgray;"><b>Any Other Comments? (Please use below space)</b></h3>
    <p>What is the <b>best thing</b> about this course? <textarea name="Other comments" cols="30" rows="2"></textarea></p>
    <p>How could we <b>improve</b> this course? <textarea name="Other comments" cols="35" rows="2"></textarea></p>
    <p>Other:  <textarea name="Best thing" cols="62" rows="6" class="auto-style3"></textarea></p>&nbsp;
    <p></p>

    <input name="Submit1" type="Submit" value="Submit" />
    &nbsp;&nbsp;&nbsp;
    <input name="Reset1" type="Reset" value="Reset" />

    </form>
</div>