.carousel-item {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  #caption1 {
    color: white;
    text-align: center;
    top: 43%;
    bottom: initial;
    font-size: 50px;
  }
